<!--The content below is only a placeholder and can be replaced.-->
<div style="border: solid 1px black; padding-left: 10px; background-color: yellow">
  <h1>
    <font color="blue">Flip</font><font color="orange">kart</font>
  </h1>

  <a [routerLink]="['/products']">Products</a> | 
  <a [routerLink]="['/cart']">Cart</a> | 
  <a [routerLink]="['/orders']">Orders</a> | 
  <a [routerLink]="['/profile']">Profile</a> | 
  <a [routerLink]="['/logout']">Logout</a>
</div>

<!-- section to show corresponding route content -->

<div style="border: solid 1px red;margin-top: 10px;">
  <router-outlet></router-outlet>
</div>

<div style="border: solid 1px blue;margin-top: 10px;">
  <h3>Footer section</h3>
</div>